@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Eagle+Lake&family=Metamorphous&display=swap');

:root {
	--primary-color: rgb(64, 2, 2);
	--primary-color-dark: rgb(34, 1, 1);
	--primary-color-light: rgb(103, 5, 5);
	--primary-color-lighter: rgb(212, 173, 173);
	--secondary-color: rgb(255, 189, 21);
	--secondary-color-light: rgb(255, 198, 54);
	--secondary-color-dark: rgb(227, 167, 16);
	--largest-font-size: 4rem;
	--larger-font-size: 3rem;
	--large-font-size: 2rem;
	--small-font-size: 1.5rem;
	--smaller-font-size: 1rem;
	--smallest-font-size: 0.75rem;
}

/* General Styling */
body {
	font-family: 'Bellefair', 'Garamond', serif;
	margin: auto;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

p {
	font-size: 2rem;
}

h1,
h2,
h3,
h4 {
	font-family: 'Metamorphous', cursive;
}

h1 {
	font-size: var(--largest-font-size);
}

h2 {
	font-size: var(--larger-font-size);
}

a {
	color: var(--secondary-color);
	text-decoration: none;
}

input {
	margin: 1rem;
	background-color: var(--primary-color-lighter);
	color: var(--primary-color);
	font-size: var(--large-font-size);
	border-style: inset;
	border-top-color: var(--primary-color-dark);
	border-left-color: var(--primary-color-dark);
	border-right-color: var(--primary-color-light);
	border-bottom-color: var(--primary-color-light);
	font-family: 'Bellefair', 'Garamond', serif;
}

form {
	font-size: var(--large-font-size);
	font-family: 'Bellefair', 'Garamond', serif;
	width: 90%;
	margin: auto;
}

label {
	margin: 1rem;
	font-family: 'Bellefair', 'Garamond', serif;
}

textarea {
	margin: 1rem;
	padding: 1rem;
	background-color: var(--primary-color-lighter);
	color: var(--primary-color);
	font-size: var(--small-font-size);
	border-style: inset;
	border-top-color: var(--primary-color-dark);
	border-left-color: var(--primary-color-dark);
	border-right-color: var(--primary-color-light);
	border-bottom-color: var(--primary-color-light);
	font-family: 'Bellefair', 'Garamond', serif;
	width: 80%;
	height: 80%;
}

select {
	margin: 1rem;
	background-color: var(--primary-color-lighter);
	color: var(--primary-color);
	font-size: var(--large-font-size);
	border-style: inset;
	border-top-color: var(--primary-color-dark);
	border-left-color: var(--primary-color-dark);
	border-right-color: var(--primary-color-light);
	border-bottom-color: var(--primary-color-light);
	font-family: 'Bellefair', 'Garamond', serif;
}

option {
	background-color: var(--primary-color-lighter);
	color: var(--primary-color);
	font-size: var(--large-font-size);
	font-family: 'Bellefair', 'Garamond', serif !important;
}

button {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-size: var(--large-font-size);
	border-style: outset;
	border-width: 0.5rem;
	border-top-color: var(--secondary-color-light);
	border-left-color: var(--secondary-color-light);
	border-right-color: var(--secondary-color-dark);
	border-bottom-color: var(--secondary-color-dark);
	font-family: 'Bellefair', 'Garamond', serif;
	margin: 1rem;
}

table {
	font-size: var(--large-font-size);
	border-style: double;
	border-width: 0.5rem;
	border-collapse: collapse;
	border-color: var(--secondary-color);
	text-align: center;
	margin: 2rem;
}

th {
	border-style: solid;
	border-color: var(--secondary-color);
	padding: 0.5rem;
	border-collapse: collapse;
}

td {
	border-style: solid;
	border-color: var(--secondary-color);
	padding: 1rem;
	border-collapse: collapse;
}

.button {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border-style: outset;
	border-top-color: rgb(255, 188, 19);
	border-left-color: rgb(255, 188, 19);
	border-right-color: rgb(180, 133, 14);
	border-bottom-color: rgb(180, 133, 14);
	font-family: 'Bellefair', 'Garamond', serif;
}

button:hover {
	border-top-color: rgb(180, 133, 14, 0.8);
	border-left-color: rgb(180, 133, 14, 0.8);
	border-right-color: rgb(255, 188, 19, 0.8);
	border-bottom-color: rgb(255, 188, 19, 0.8);
	opacity: 80%;
}

/* Headers */
.nav {
	display: flex;
	font-size: var(--large-font-size);
	list-style: none;
	justify-content: space-evenly;
	background-color: rgb(255, 189, 21, 0.1);
}

#main-header {
	text-align: center;
}

/* Logout */
#logout {
	text-decoration: none;
	font-size: var(--small-font-size);
	text-align: right;
	display: flex;
	justify-content: flex-end;
	background-color: rgb(255, 189, 21, 0.1);
}

#logout-button {
	font-size: var(--small-font-size);
}

/* Home */
#home-header {
	text-align: center;
}

.home-p {
	text-align: center;
	margin-top: 5rem;
}

/* Login */
#login {
	text-align: center;
	margin-top: 5rem;
	border-color: var(--secondary-color);
	border-style: double;
	border-width: 0.5rem;
	padding: 1rem;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/* Create Account */
#create-account-section {
	text-align: center;
	margin-top: 5rem;
	border-color: var(--secondary-color);
	border-style: double;
	border-width: 0.5rem;
	padding: 1rem;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/* User Characters */
#user-characters {
	margin-top: 5rem;
}

/* View character page */
.view-grid-container {
	display: grid;
}

#char-name {
	text-align: center;
	font-size: var(--large-font-size);
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

#char-image {
	margin: 1rem;
	border-color: var(--secondary-color);
	border-style: double;
	border-width: 0.5rem;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
}

#char-desc {
	border-color: var(--secondary-color);
	border-style: double;
	border-width: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
}

#char-traits {
	border-color: var(--secondary-color);
	border-style: double;
	border-width: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 8;
}

#char-stats {
	border-color: var(--secondary-color);
	border-style: double;
	border-width: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 6;
	font-size: var(--smallest-font-size);
}

#char-points {
	border-color: var(--secondary-color);
	border-style: double;
	border-width: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 6;
	grid-row-end: 8;
	font-size: var(--smallest-font-size);
}

/* Character Form  */
#character-form {
	margin-top: 5rem;
	display: grid;
	grid-auto-columns: minmax(0, 1fr);
	grid-auto-flow: column;
}

#char-form-basic-traits {
	border-color: var(--secondary-color);
	border-style: double;
	border-width: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
}

#char-form-points {
	border-color: var(--secondary-color);
	border-style: double;
	border-width: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#char-form-stats {
	border-color: var(--secondary-color);
	border-style: double;
	border-width: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 6;
	font-size: var(--large-font-size);
	display: flex;
	flex-direction: column;
}

#char-form-description {
	border-color: var(--secondary-color);
	border-style: double;
	border-width: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
	display: flex;
	flex-direction: column;
}

#char-form-image {
	border-color: var(--secondary-color);
	border-style: double;
	border-width: 0.5rem;
	padding: 1rem;
	margin: 1rem;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
}

#image-input {
	margin: 1rem;
	background-color: var(--primary-color-lighter);
	color: var(--primary-color);
	font-size: var(--small-font-size);
	border-style: inset;
	border-top-color: var(--primary-color-dark);
	border-left-color: var(--primary-color-dark);
	border-right-color: var(--primary-color-light);
	border-bottom-color: var(--primary-color-light);
	font-family: 'Bellefair', 'Garamond', serif;
	width: 80%;
}

#file-upload-button {
	margin: 1rem;
	background-color: var(--primary-color-lighter);
	color: var(--primary-color);
	font-size: var(--large-font-size);
	border-style: inset;
	border-top-color: var(--primary-color-dark);
	border-left-color: var(--primary-color-dark);
	border-right-color: var(--primary-color-light);
	border-bottom-color: var(--primary-color-light);
	font-family: 'Bellefair', 'Garamond', serif;
}

#char-form-submit {
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;
}

#random-name {
	font-size: var(--small-font-size);
}

.char-form-basic {
	display: flex;
	flex-direction: column;
}

.char-stats {
	align-items: flex-end;
}

.char-form-stat-input {
	width: 3rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.char-form-point-input {
	width: 3rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
