body {
	margin: 3rem;
	background-color: rgb(78, 3, 3);
	color: rgb(220, 162, 16);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

button {
	margin: 1rem;
}

label {
	margin: 1rem;
}

a {
	color: rgb(220, 162, 16);
	text-decoration: none;
}

ul {
	list-style: none;
}
